<div class="container">
  <div class="d-flex align-items-center justify-content-start text-secondary">
    <div>
      <img src="{{ companyInfo.logo }}" alt="main Logo" />
    </div>
    <div>
      <h1 class="text-primary mb-2" style="color: rgb(81, 183, 250)">
        {{ companyInfo.name }}
      </h1>
      <h5>
        <span class="mb-2" style="color: rgb(81, 183, 250)"
          >Company Owner :</span
        >
        <br />
        {{ companyInfo.owner }}
      </h5>
      <p class="fs-4 mb-2">
        <span style="color: rgb(81, 183, 250)"> about : </span> <br />
        {{ companyInfo.info }}
      </p>
      <p class="fs-4 mb-2">
        <span style="color: rgb(81, 183, 250)"> reach us :</span><br />
        <a class="me-2 fs-2" href="{{ companyInfo.fb }}" target="_blank"
          ><i class="bi bi-facebook"></i
        ></a>
        <a class="me-2 fs-2" href="{{ companyInfo.linkedin }}" target="_blank"
          ><i class="bi bi-linkedin"></i
        ></a>
      </p>
    </div>
    <div></div>
  </div>
</div>
