<div class="container">
  <div class="form__details">
    <h2 class="mt-3">Add Product details</h2>
    <div [hidden]="submitted">
      <form
        class="row align-items-center"
        #prodForm="ngForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="col-5">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [class.is-valid]="name.valid"
              [class.is-invalid]="name.invalid"
              [(ngModel)]="newProduct.name"
              name="name"
              #name="ngModel"
            />
            <div
              [hidden]="name.valid || name.pristine"
              class="alert alert-danger"
            >
              Name is required
            </div>
          </div>

          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              #price="ngModel"
              class="form-control"
              id="price"
              min="1"
              name="price"
              [class.is-valid]="price.valid"
              [class.is-invalid]="!price.valid"
              [(ngModel)]="newProduct.price"
              required
            />
            <div
              [hidden]="price.valid || price.pristine"
              class="alert alert-danger"
            >
              Price should be number
            </div>
          </div>
          <div class="form-group">
            <label for="gategoryId">category id</label>
            <input
              type="number"
              #ctgid="ngModel"
              class="form-control"
              id="ctgid"
              min="1"
              name="gategoryId"
              [class.is-valid]="ctgid.valid"
              [class.is-invalid]="!ctgid.valid"
              [(ngModel)]="newProduct.categoryid.id"
              required
            />
            <div
              [hidden]="ctgid.valid || ctgid.pristine"
              class="alert alert-danger"
            >
              please enter a vlaid id
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="gategoryName">category name</label>
            <input
              type="text"
              #ctgName="ngModel"
              class="form-control"
              id="gategoryName"
              name="gategoryName"
              [class.is-valid]="ctgName.valid"
              [class.is-invalid]="!ctgName.valid"
              [(ngModel)]="newProduct.categoryid.name"
              required
            />
            <div
              [hidden]="ctgName.valid || ctgName.pristine"
              class="alert alert-danger"
            >
              please enter a vlaid name
            </div>
          </div>
          <div class="form-group">
            <label for="price">Product Image</label>
            <input
              type="url"
              #img="ngModel"
              class="form-control"
              id="image"
              name="image"
              [class.is-valid]="img.valid"
              [class.is-invalid]="img.invalid"
              [(ngModel)]="newProduct.img"
              placeholder="Please Use Your Image URL.."
              required
            />
            <div
              [hidden]="img.valid || img.pristine || img.untouched"
              class="alert alert-danger"
            >
              this url is not valid
            </div>
          </div>

          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input
              type="number"
              #quantity="ngModel"
              class="form-control"
              min="1"
              id="quantity"
              name="quantity"
              [(ngModel)]="newProduct.quantity"
              required
            />
            <div
              [hidden]="
                quantity.valid || quantity.pristine || quantity.untouched
              "
              class="alert alert-danger"
            >
              Quantity should be number
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary col-3 ms-3 mb-3"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          [disabled]="prodForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>

    <div [hidden]="!submitted">
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
              <h5
                class="modal-title fs-5 text-primary pt-2"
                id="exampleModalLabel"
              >
                ِAre You sure This is the details you want to add?
              </h5>
              <button
                type="button"
                (click)="submitted = false"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body d-flex flex-column align-item-start">
              <div class="d-flex align-item-center">
                <p class="fs-5 me-3">name :</p>
                <p>{{ newProduct.name }}</p>
              </div>
              <div class="d-flex justify-content-start">
                <p class="fs-5 me-3">Price :</p>
                <p>{{ newProduct.price }}</p>
              </div>
              <div class="d-flex align-item-center">
                <p class="fs-5 me-3">quantity :</p>
                <p>{{ newProduct.quantity }}</p>
              </div>
              <div class="d-flex align-item-center">
                <p class="fs-5 me-3">img :</p>
                <p>{{ newProduct.img }}</p>
              </div>
            </div>
            <div class="modal-footer" [hidden]="saved">
              <button
                (click)="submitted = false"
                type="button"
                class="btn btn-outline-primary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addProduct()"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
