<div class="container ms-5 ps-4 row justify-content-center">
  <div class="col-md-12">
    <div class="wrapper">
      <div class="row no-gutters">
        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
          <div class="contact-wrap w-100 p-md-5 p-2">
            <h3 class="mb-4 text-primary fs-2">Your Details</h3>
            <div id="form-message-warning" class="mb-4"></div>
            <!-- <div id="form-message-success" class="mb-4">
              Your message was sent, thank you!
            </div> -->
            <form
              method="POST"
              id="contactForm"
              name="contactForm"
              class="contactForm"
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="name">Full Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      id="name"
                      placeholder="Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="email">Email Address</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label" for="subject">Subject</label>
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject"
                      placeholder="Subject"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="label" for="message">Message</label>
                    <textarea
                      name="message"
                      class="form-control"
                      id="message"
                      cols="30"
                      rows="4"
                      placeholder="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <a
                      class="btn btn-primary"
                      href="mailto:tahaebaed2@gmail.com"
                      >send message
                    </a>
                    <div class="submitting"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
          <div
            class="info-wrap w-100 p-md-5 p-2 text-white"
            style="background: #60c7ff; height: 100vh"
          >
            <h3>Let's get in touch</h3>
            <p class="mb-4">
              We're open for any suggestion or just to have a chat
            </p>
            <div class="dbox w-100 d-flex align-items-start">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-geo-alt-fill fs-4"></i>
              </div>
              <div class="text pl-3">
                <p>
                  <span>Address:</span> 198 West 21th Street, Suite 721 New York
                  NY 10016
                </p>
              </div>
            </div>
            <div class="dbox w-100 d-flex align-items-center">
              <div class="d-flex align-items-center justify-content-center">
                <i class="bi bi-telephone-fill fs-5"></i>
              </div>
              <div class="text pl-3 pt-3">
                <p>
                  <span>Phone:</span>
                  <a class="text-white ms-3" href="tel://+201118155231"
                    >+2 0111 815 5231</a
                  >
                </p>
              </div>
            </div>
            <div class="dbox w-100 d-flex align-items-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="bi bi-envelope-fill fs-4"></i>
              </div>
              <div class="text pl-3 pt-3">
                <p>
                  <span>Email:</span>
                  <a class="text-white ms-4" href="mailto:tahaebaed7@gmail.com"
                    >tahaebaed7@gmail.com</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
